.body {
  font-family: Montserrat;
}

.txt-center {
  text-align: center;
}

a.link {
  text-decoration: none;
}

.section-gradient {
  min-height: 100vh;
  border-radius: 0px 0px 12px 12px;
  position: relative;
  background: var(--gradient-supersoft, linear-gradient(229deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%));
}
.section-gradient__shadow {
  height: 10px;
  position: absolute;
  width: 100%;
  border-radius: 0px 0px 12px 12px;
  background-color: #FFF;
}
.section-gradient__shadow--1 {
  bottom: -10px;
  width: calc(100% - 40px);
  left: 20px;
  background-color: #cacadb;
}
.section-gradient__shadow--2 {
  bottom: -20px;
  width: calc(100% - 80px);
  left: 40px;
  background-color: #F5F5FA;
}

.main-wrap {
  position: relative;
  min-height: 100vh;
}
.main-wrap-bg {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.main-wrap-bg__h {
  height: 100%;
}
.main-wrap__section {
  min-height: 100vh;
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-wrap__title {
  padding: 0 30px;
  font-size: 38px;
}

.header-grid {
  padding: 5px;
  display: grid;
  row-gap: 16px;
  grid-template-areas: "info" "logo" "nav";
}
@media screen and (min-width: 768px) {
  .header-grid {
    grid-template-areas: "logo info" "logo nav";
  }
}
.header-grid__logo {
  grid-area: logo;
}
.header-grid__info {
  grid-area: info;
}
.header-grid__nav {
  grid-area: nav;
}

.adress-item {
  display: flex;
  align-items: center;
  font-size: 16px;
  font-weight: 400;
  color: #B3B3BA;
}
.adress-item__phone-number {
  font-weight: 700;
}
.adress-item:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #E6E6F0;
  display: inline-block;
  right: 7px;
}

.header-btn-sm {
  background-color: transparent;
  border: none;
  color: #FFF;
  border-radius: 8px;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
}
.header-btn-sm.active, .header-btn-sm:hover {
  background-color: #F0145A;
  transition: all 0.4s ease;
}

.navbar-toggler.hlegal-toggler {
  border: none;
  outline: none;
}
.navbar-toggler.hlegal-toggler:hover {
  border: none;
  outline: none;
}

.button-circle {
  background-color: transparent;
  border: 1px solid #FFF;
  border-radius: 50%;
  display: inline-block;
  width: 42px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.button-circle:hover {
  border: 1px solid #F0145A;
}
.button-circle__icon {
  fill: #FFF;
}
.button-circle__icon:hover {
  fill: #F0145A;
}

.offcanvas {
  border-radius: 12px 12px 0px 0px;
}

.nav-link-h {
  text-align: center;
  font-size: 24px;
  color: #24A3FF;
  border-radius: 12px;
}
@media screen and (max-width: 768px) {
  .nav-link-h.active {
    color: #F0145A;
  }
}
.nav-link-h:hover {
  color: #F0145A;
}
@media screen and (min-width: 576px) {
  .nav-link-h {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
  }
}

@media screen and (max-width: 576px) {
  .menu-link {
    border-radius: 12px;
    background-color: #F5F5FA;
    padding: 7px 0px;
    gap: 10px;
    font-weight: 700;
  }
  .menu-link.active {
    background-color: #E6E6F0;
  }
}

.section-advantages {
  padding-top: 60px;
}

.col-12.col-sm-6.col-lg-4 {
  padding-bottom: 60px;
}

.h1-title-advant {
  padding-bottom: 60px;
  padding-top: 5px;
  font-size: 38px;
  font-weight: 700;
  background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.h1-advantages {
  color: #24A3FF;
  font-size: 22px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 15px;
}

.h5-advantages {
  color: #24A3FF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
}
.h5-advantages:hover {
  color: #F0145A;
}

.arrow-right {
  color: #24A3FF;
  padding-bottom: 3px;
}
.arrow-right:hover {
  color: #F0145A;
}

.section-company {
  padding-top: 60px;
}

.h3-company {
  color: #323264;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  padding-bottom: 30px;
}

.bg-1 {
  background-color: #1C4280;
}

.bg-2 {
  background-color: #143646;
}

.bg-3 {
  background-color: #F48B30;
}

.bg-4 {
  background-color: #9E4DC3;
}

.bg-5 {
  background-color: #FD9339;
}

.bg-6 {
  background-color: #E2E2E4;
}

.bg-7 {
  background-color: #C71C36;
}

.bg-8 {
  background-color: #DCF3F9;
}

.bg-9 {
  background-color: #EAEAEA;
}

.bg-10 {
  background-color: #282240;
}

.bg-11 {
  background-color: #1D4568;
}

.bg-12 {
  background-color: #000;
}

.d-none-sm {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 575px) {
  .d-none-sm {
    display: none;
  }
}

.width {
  width: 200px;
  height: 120px;
}
@media screen and (min-width: 644px) {
  .width {
    width: 430px;
    height: 120px;
  }
}

.section-information {
  background-color: #F5F5FA;
  padding: 30px;
}

.gap-30 {
  display: flex;
  gap: 30px;
}

.img-inform {
  display: inline-block;
  max-width: 100%;
  border-radius: 8px 8px 0px 0px;
}

.block-inform {
  max-width: 500px;
  background: #FFFFFF;
  border-radius: 8px;
  overflow: hidden;
}

.f-txt-inform {
  font-size: 16px;
  font-weight: 700;
  color: #24A3FF;
}

.m-txt-inform {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #B3B3BA;
}

.l-txt-inform {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
}

.h2-inform {
  padding-bottom: 30px;
  font-size: 38px;
  font-weight: 700;
  background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-inform {
  color: #24A3FF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bi.bi-caret-right {
  margin-top: 3px;
  color: #24A3FF;
}

.line-item {
  height: 4px;
  background: #E6E6F0;
  margin-top: 15px;
}

.p-30 {
  padding: 30px;
}

.p-top-30 {
  padding-top: 30px;
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .box {
    display: flex;
    gap: 30px;
  }
}

@media screen and (max-width: 576px) {
  .box {
    display: flex;
    flex-wrap: wrap;
  }
}

.height-w {
  height: 212px;
  width: 300px;
}

.footer {
  max-width: 1440px;
}
@media screen and (max-width: 500px) {
  .footer {
    padding: 30px;
    display: flex;
    flex-direction: column;
  }
}

.footer {
  background-color: #F5F5FA;
}

.footer-location {
  align-items: center;
  gap: 10px;
}
@media screen and (max-width: 500px) {
  .footer-location {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .footer__top__span {
    display: none;
  }
}

.footer-name {
  float: right;
  display: flex;
}
@media screen and (min-width: 500px) {
  .footer-name {
    justify-content: center;
  }
}

.footer-info {
  align-items: center;
  display: flex;
  gap: 10px;
  margin-top: 21px;
  flex-wrap: wrap;
}
@media screen and (max-width: 500px) {
  .footer-info {
    flex-direction: column;
    margin-bottom: 30px;
  }
}

.footer__top__span {
  width: 6px;
  height: 6px;
}
@media screen and (max-width: 500px) {
  .footer__top__span {
    display: none;
  }
}

.footer-adress {
  color: #323264;
  font-size: 16px;
  font-weight: 400;
}

.footer-txt {
  color: #24A3FF;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}
.footer-txt:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  display: inline-block;
  right: 7px;
}

.footer-name {
  color: #B3B3BA;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}

.footer-number {
  color: #46466E;
  text-align: right;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}
.footer-number:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  display: inline-block;
  right: 7px;
}

.footer-mail {
  color: #24A3FF;
  font-size: 16px;
  font-weight: 700;
}
.footer-mail:before {
  content: "";
  position: relative;
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: #B3B3BA;
  display: inline-block;
  right: 7px;
}

.main-wrap-t-h {
  height: 100%;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
}
.main-wrap-t-h__h {
  height: 100%;
}
.main-wrap-t__section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.txt-h-team {
  color: #323264;
  font-size: 36px;
  font-weight: 400;
}

.p-2 {
  padding-top: 2px;
}

.header-btn-t {
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #B3B3BA;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 1px;
}
.header-btn-t.active, .header-btn-t:hover {
  background-color: #F0145A;
  transition: all 0.4s ease;
}

.adress-item {
  color: #B3B3BA;
  text-align: right;
  font-size: 16px;
  font-weight: 400;
}
.adress-item__phone-number-t {
  color: #B3B3BA;
  font-size: 16px;
  font-weight: 700;
  white-space: nowrap;
}

.nav-link-h-t {
  text-align: center;
  font-size: 24px;
  color: #24A3FF;
  border-radius: 12px;
  white-space: nowrap;
}
@media screen and (max-width: 768px) {
  .nav-link-h-t.active {
    color: #F0145A;
  }
}
.nav-link-h-t:hover {
  color: #F0145A;
}
@media screen and (min-width: 576px) {
  .nav-link-h-t {
    color: #24A3FF;
    font-size: 16px;
    font-weight: 700;
  }
}

@media screen and (max-width: 576px) {
  .menu-link {
    border-radius: 12px;
    background-color: #F5F5FA;
    padding: 7px 0px;
    gap: 10px;
    font-weight: 700;
  }
  .menu-link.active {
    background-color: #E6E6F0;
  }
}

.navbar-toggler-icon {
  background-color: #323264;
}

.active-page {
  color: #F0145A;
}

.home-page {
  color: #323264;
}

.pb-60 {
  padding-bottom: 60px;
}

p.adress-item.location-t.mb-0 {
  display: none;
}
@media screen and (max-width: 450px) {
  p.adress-item.location-t.mb-0 {
    display: flex;
  }
}

.header-btn-t {
  display: none;
}
@media screen and (max-width: 450px) {
  .header-btn-t {
    display: flex;
    gap: 2px;
  }
}

.h1-team {
  font-size: 38px;
  font-weight: 700;
  background: var(--Gradient-Red-Text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txt-team__name {
  color: #323264;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
}
.txt-team__job {
  color: #B3B3BA;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
}
.txt-team__name:hover {
  color: #F0145A;
}

.arrow-team:hover {
  stroke: #F0145A;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.carousel-indicators.carousel-indicators-h {
  position: relative;
  margin: 0;
  flex-direction: column;
  flex-grow: 1;
  border-right: none;
  border-bottom: 2px solid white;
}
@media screen and (min-width: 768px) {
  .carousel-indicators.carousel-indicators-h {
    border-right: 2px solid white;
    border-bottom: none;
  }
}

.carousel-indicators__btn {
  max-width: 100%;
  align-items: end;
  display: flex;
  flex-direction: row;
  padding-right: 0px;
  overflow-x: auto;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .carousel-indicators__btn {
    flex-direction: column;
    max-width: 375px;
    padding-right: 20px;
    gap: 0px;
  }
}

.carousel.slide {
  grid-template-columns: 100%;
}
@media screen and (min-width: 768px) {
  .carousel.slide {
    grid-template-columns: repeat(2, 1fr);
  }
}

.carousel-inner {
  padding-left: 0px;
}
@media screen and (min-width: 768px) {
  .carousel-inner {
    padding-left: 60px;
  }
}

.carousel-indicators.carousel-indicators-h [data-bs-target] {
  text-indent: 0px;
  width: auto;
  height: auto;
  white-space: nowrap;
  background-color: transparent;
  font-size: 38px;
  font-weight: 700;
  color: #B3B3BA;
}
.carousel-indicators.carousel-indicators-h [data-bs-target].active {
  background: var(--gradient-text-red-reversed, linear-gradient(90deg, #EF8080 0.84%, #F0145A 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.carousel-inner-2 {
  padding-top: 60px;
}

.carousel-item.active.carousel-2 {
  max-width: 100%;
  flex-direction: column;
  overflow-x: auto;
  gap: 30px;
}
@media screen and (min-width: 768px) {
  .carousel-item.active.carousel-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1600px;
  }
}

.carousel-item-2 {
  background-color: #F5F5FA;
  padding-bottom: 60px;
}

.width-img-carousel {
  width: 100%;
  max-width: 648px;
}
@media screen and (min-width: 768px) {
  .width-img-carousel {
    max-width: 400px;
    width: 100%;
  }
}

.h2-carousel {
  font-size: 38px;
  font-weight: 700;
  background: var(--gradient-red-text, linear-gradient(90deg, #F0145A 0.84%, #EF8080 99.96%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.m {
  margin-top: 3px;
}

.txt-carousel {
  color: #24A3FF;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.arrow-right-cl {
  color: #24A3FF;
}

.txt-name-carousel {
  font-size: 16px;
  font-weight: 700;
  color: #B3B3BA;
}

.job-title-carousel {
  font-size: 14px;
  font-weight: 400;
  color: #B3B3BA;
}

.carousel-indicators.carousel-indicators-2 [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #3B71CA;
}/*# sourceMappingURL=main.css.map */